<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Your Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <!-- change this favicon -->
    <link href="/img/logo.png" rel="icon" />
    <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet"> -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
    <!-- <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet"> -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/e2eea6562c.js"></script>
    <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header" style="box-shadow: 0px 2px 6px #888;">
      <div class="container-fluid">
        <div id="logo" class="pull-left pb-5">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img height="50px;" src="img/logo.png" alt="Hackathon" title="Hackathon"/></a>  -->
          <h1 style=" display: inline;">
            <a style="color:white;" href="#intro" class="scrollto"
              >F<span
                ><img
                  height="35px;"
                  src="/img/logo.png"
                  alt="Hackathon"
                  title="Hackathon"/></span
              ><span
                ><img
                  height="35px;"
                  src="/img/logo.png"
                  alt="Hackathon"
                  title="Hackathon"/></span
              >d2Fuel</a
            >
          </h1>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="#intro">Home</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <header class="container heading section-header">
      <h3>Welcome Partners!!</h3>
    </header>
    <div style="margin : 100px 0">
      <header class="section-header">
        <h3>Welcome <%=user.name%></h3>
      </header>
    </div>

    <section id="about">
      <div class="container">
        <div class="row about-cols">
          <div class="col-md-4 wow fadeInUp">
            <div class="about-col pb-2">
              <div class="img">
                <img src="" alt="" class="img-fluid" />
                <div class="icon">
                  <i class="ion-ios-speedometer-outline"></i>
                </div>
              </div>
              <h2 class="title"><a href="#">Credits Earned</a></h2>
              <h1 class="text-center">
                <span data-toggle="counter-up"><%= user.credit %></span>
              </h1>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col pb-2">
              <div class="img">
                <img src="" alt="" class="img-fluid" />
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Next Pickup</a></h2>
              <!-- write here -->
              <h1 class="text-center">
                <%= user.date.toString().substring(0,11) %> <%
                if(user.isActive==false){ %>
                <form action="/order" method="POST">
                  <input
                    type="number"
                    name="quantity"
                    min="0"
                    id=""
                    style="width: 90%; margin:auto;"
                  />
                  <button class="btnSubmit">Submit</button>
                </form>
                <% } %>
              </h1>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="text-center about-col pb-4">
              <div class="img">
                <img src="" alt="" class="img-fluid" />
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Unsubscribe</a></h2>
              <!-- write here -->
              Don't want to contribute to greener future anymore??

              <a href="#"> Unsubscribe </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="previous-pickups">
      <div class="container previous-pickups-container">
        <div class="previous-pickup-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>

                <th scope="col">Credits Earned</th>
                <th scope="col">Capacity Transported</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=orders.length-1; i>=0; i--){ %>
              <tr>
                <th scope="row"><%= orders.length-i %></th>
                <td><%= orders[i].credit %></td>

                <td><%= orders[i].quantity %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
  </body>
</html>
